@use "../../../scss" as *;

header {
    height: 75px;
    width: 100%;
    padding: 1rem;
    background-color: $color-background-light;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-wrapper {
        height: 2rem;
        width: 2rem;
    }

    svg {
        border-radius: 50%;
        fill: $color-neutral;
    }

    margin-bottom: 2rem;

    .logged-user {
        position: relative;
    }
}