@use "../../../scss" as *;

header {
    height: 75px;
    width: 100%;
    padding: 1rem;
    background-color: $color-background-light;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon-wrapper {
        height: 2rem;
        width: 2rem;
    }

    margin-bottom: 2rem;
}