@if (isUserTeacher$ | async) {
@if (brief$ | async) {
<main>
    <header>
        <h1>Brief : {{ (brief$ | async)?.name }}</h1>
    </header>
    <section class="student-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Promo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (student of studentList$ | async; track $index) {
                <tr>
                    <td>{{ student.lastName }} {{ student.firstName }}</td>
                    <td>
                        {{ getOngoingPromoName(student) }}
                    </td>
                    <td class="actions">
                        @if(isStudentAssigned(student.id)){
                        <button (click)="removeStudentFromBrief(student.id)" class="warning">Unassign</button>
                        }
                        @else{
                        <button (click)="addStudentToBrief(student)">Assign</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
    <section class="group-generation">
        <h2>Groups configuration</h2>
        <form [formGroup]="form">
            <div class="form-group">
                <label for="group-student-amount">Students per group</label>
                <input type="number" formControlName="amountPerGroup" id="group-student-amount" min="1"
                    max="{{assignedStudentAmount}}" value="1">
            </div>
            <div class="form-group">
                <label for="mix-dwwm">Mix DWWM</label>
                <input type="checkbox" formControlName="mixDwwm" id="mix-dwwm">
            </div>
            <div class="form-group">
                <label for="mix-age">Mix ages</label>
                <input type="checkbox" formControlName="mixAges" id="mix-age">
            </div>
            <button (click)="generateGroups()">Prepare</button>
        </form>
    </section>
    <section class="group-affectation">
        <h2>Groups affectation</h2>
        <ul class="group-list">
            @for (group of groups; track $index) {
            <li class="group">
                <h3>{{$index+1}} : {{group.name}}</h3>
                <div class="group-members">
                    @for (student of group.members; track $index) {
                    <div class="member">{{student.lastName}} {{student.firstName}}</div>
                    }
                </div>
            </li>
            }
        </ul>
    </section>
</main>
}
}