@if (isUserTeacher$ | async) {
@if (brief$ | async) {
<main>
    <header>
        <h1>Brief : {{ (brief$ | async)?.name }}</h1>
    </header>
    <section class="student-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Promo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (student of studentList$ | async; track $index) {
                <tr>
                    <td>{{ student.lastName }} {{ student.firstName }}</td>
                    <td>
                        {{ getOngoingPromoName(student) }}
                    </td>
                    <td class="actions">
                        @if(isStudentAssigned(student.id)){
                        <button (click)="removeStudentFromBrief(student.id)">Unassign</button>
                        }
                        @else{
                        <button (click)="addStudentToBrief(student)" class="warning">Assign</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
    <section class="group-generation">
        <div class="generation-base">
            <div class="form-group">
                <input type="number" formControlName="amount" id="amount-per-group">
                <label for="amount-per-group">Students per group</label>
            </div>
            <div class="form-group">
                <input type="checkbox" formControlName="mixDwwm" id="mix-dwwm">
                <label for="mix-dwwm">Mix DWWM</label>
            </div>
            <div class="form-group">
                <input type="checkbox" formControlName="mixAges" id="mix-age">
                <label for="mix-age">Mix ages</label>
            </div>
        </div>
        <button (click)="generateGroups()">Generate</button>
        <div class="generation-name">

        </div>
    </section>
</main>
}
}