@use "../../../../scss/" as *;

.student-list {
    margin-bottom: 2rem;
}

.group-generation {
    border: 1px solid black;
    padding: 1rem 1rem;
    margin-bottom: 2rem;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    .form-group {
        display: grid;
        grid-template-columns: 1fr 1fr;

        input {
            width: fit-content;
        }

        input[type=checkbox] {
            height: 1rem;
            width: 1rem;
        }
    }
}

.group-affectation {
    padding: 1rem 1rem;
    margin-bottom: 2rem;

    .group-list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        input {
            margin-bottom: 1rem;
        }
    }

    .group-members {
        width: 100%;
        border-radius: .5rem;
        padding: 1.5rem .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }


    .group-members {
        transition: background-color 0.3s ease;
    }

}

/* When dragging is active anywhere */
.group-affectation:has(.cdk-drop-list-dragging) .group-members {
    background-color: darken($color-neutral, 10%);

}

.member {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: $color-elements-lighter;
}

.member.cdk-drag-preview {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    opacity: 0.95;
    background-color: $color-neutral;
    color: $color-font-light;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.member.cdk-drag-placeholder {
    visibility: hidden;
}