@use "scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size-base;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: $color-background-dark;
}

div.page-wrapper {
    width: 100%;
    padding: 0 .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    padding: 2rem 1rem;
    background-color: $color-background-light;
}

h1 {
    font-size: $font-size-largest;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: $font-size-larger;
}

h3 {
    font-size: $font-size-large;
}

button,
.button {
    border: none;
    background-color: transparent;
}

button:hover,
.button:hover {
    cursor: pointer;
}

button:not(.icon-wrapper),
.button:not(.icon-wrapper) {
    border: none;
    border-radius: .5rem;
    padding: .25rem 1rem;
    font-size: $font-size-large;
    color: $color-font-light;
    background-color: $color-neutral;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}

button:not(.icon-wrapper):hover,
.button:not(.icon-wrapper):hover {
    transform: scale(1.1);
}

button.warning,
.button.warning {
    background-color: $color-warning;
}

button.danger,
.button.danger {
    background-color: $color-danger;
}

a.button {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

input[type=text],
textarea {
    background-color: $color-input-fields;
    color: $color-input-text;
    padding: .25rem .5rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.error {
    color: $color-danger;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;

    tbody {
        tr:nth-child(odd) {
            background-color: $color-elements-lighter;
        }

        tr:nth-child(even) {
            background-color: $color-elements-darker;
        }
    }

    th,
    td {
        padding: .5rem;
        text-align: center;
    }

    td.actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .25rem;

        button {
            width: 80%;
        }
    }
}

app-header {
    width: 100%;
}

app-login-form {
    width: 100%;
}

app-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

brief-index {
    width: 100%;
}

app-details {
    width: 100%
}