$color-background-dark: #57678B;
$color-background-light: #7EB2E3;

$color-elements-lighter: #648CE0;
$color-elements-darker: #5378C8;

$color-neutral: #398A86;
$color-warning: #E39B54;
$color-danger: #BC2929;

$color-input-fields: #FFFFFF;
$color-input-text: #000000;

$color-font-dark: #000000;
$color-font-light: #FFFFFF;