@if (isUserTeacher$ | async) {
<main>
    <header>
        <h1>Briefs</h1>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (brief of briefs$ | async; track $index) {
            <tr>
                <td>{{ brief.name }}</td>
                <td>{{ brief.status }}</td>
                <td class="actions">
                    @switch (brief.status) {
                    @case ("ended") {
                    <button>Consult</button>
                    }
                    @case ("ongoing") {
                    <button class="warning">Edit</button>
                    <button>Assign</button>
                    }
                    @case ("planned") {
                    <button class="warning">Edit</button>
                    <button class="danger">Delete</button>
                    }
                    @default {
                    }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>
}