<section class="presentation">
    <h2>Features</h2>
    <div class="slide">
        <div class="description">
            <h3>Assign students</h3>
            <p>Retrieve and lists all students you are teaching.</p>
            <p>Assign the students you want to tasks as you see fit based on your needs</p>
        </div>
        <div class="illustration">
            <img src="assets/images/add-people.webp" alt="feature assign">
        </div>
    </div>
    <div class="slide">
        <div class="description">
            <h3>Generate groups</h3>
            <p>Generate groups based on the students you have assigned and the number of
                students you wish to assign on the task.
            </p>
            <p>While students are randomly distributed inside the created groups you can enforce
                a balanced distribution based on specific attributes for better results.
            </p>
        </div>
        <div class="illustration">
            <img src="assets/images/generate-groups.webp" alt="feature generate groups">
        </div>
    </div>
    <div class="slide">
        <div class="description">
            <h3>Customize groups</h3>
            <p>Generated groups can have customed names if you so wish but default names will
                be used if this isn't needed.
            </p>
            <p>After generating groups it is possible to manually reassign students between groups if the need arises
            </p>
        </div>
        <div class="illustration">
            <img src="assets/images/manually-adjust.webp" alt="feature adjust">
        </div>
    </div>
</section>