<main>
    <h2>Legal mentions</h2>
    <div class="mentions">
        <div class="mention">
            <h3>Disclaimer</h3>
            <p>This project is done as a simple study project for presentation purpose and is not tied to any real
                entities both in name or in
                the mock data used.
            </p>
            <p>This is a work of fiction. Names, characters, businesses, places, events and incidents are either the
                products of the author's imagination or used in a fictitious manner. Any resemblance to actual persons,
                living or dead, or actual events is purely coincidental.</p>
        </div>
        <div class="mention">
            <h3>Intellectual Property</h3>
            <p>This certainly is a quite paradoxical part in an internet filled with data scrapper acting like it's the
                wild west and pilfering data to then use it to train models without asking for consent. Models that are
                then used to generate or troubleshoot the generation of other things like this specific project, do you
                feel the paradox yet?</p>
            <p>This has been realized by an individual called Broche Grégory has part of a study project for a training
                course</p>
        </div>
        <div class="mention">
            <h3>Data collection and Cookies</h3>
            <p>All data is mocked and reflect no real user, though homonyms are kind of a things with over 8 billion
                people.</p>
            <p>No cookies are involved in this project.</p>
        </div>
    </div>
</main>