@if (isUserTeacher$ | async) {
@if (brief$ | async) {
<main>
    <header>
        <h2>Brief : {{ (brief$ | async)?.name }}</h2>
    </header>
    <section class="student-list">
        <h3 class="heading">Available students</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DWWM</th>
                    <th>Promo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (student of studentList$ | async; track $index) {
                <tr>
                    <td>{{ student.lastName }} {{ student.firstName }}</td>
                    <td>
                        @if(hasStudentDoneDWWM(student)) {Yes}
                        @else {No}
                    </td>
                    <td>
                        {{ getOngoingPromoName(student) }}
                    </td>
                    <td class="actions">
                        @if(isStudentAssigned(student.id)){
                        <button [disabled]="isGroupGenerationLocked" (click)="removeStudentFromBrief(student.id)"
                            class="warning">Unassign</button>
                        }
                        @else{
                        <button [disabled]="isGroupGenerationLocked"
                            (click)="addStudentToBrief(student)">Assign</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
    <section class="group-generation">
        <h3 class="heading">Groups configuration</h3>
        <form [formGroup]="form">
            <div class="form-group">
                <label for="group-student-amount">Students per group</label>
                <input type="number" formControlName="amountPerGroup" id="group-student-amount" min="1"
                    max="{{assignedStudentAmount}}" value="1">
            </div>
            <div class="form-group">
                <label for="mix-dwwm">Mix DWWM</label>
                <input type="checkbox" formControlName="mixDwwm" id="mix-dwwm">
            </div>
            <button [disabled]="isGroupGenerationLocked || !areStudentsAssigned"
                (click)="generateGroups()">Generate</button>
        </form>
    </section>

    <section class="group-affectation">
        @if(isBriefGroupIntended){
        <h3 class="heading">Groups affectation</h3>
        <div class="group-list" cdkDropListGroup>
            @for (group of groups; track $index) {
            <div class="group">
                <input type="text" [(ngModel)]="group.name" placeholder="Group name" class="group-name-input" />
                <div class="group-members drag-handle" [id]="'group-' + $index" cdkDropList
                    [cdkDropListData]="group.members" (cdkDropListDropped)="onStudentDrop($event, group)"
                    [cdkDropListConnectedTo]="connectedDropListIds">

                    @for (student of group.members; track $index) {
                    <div class="member" cdkDrag [cdkDragData]="student">
                        {{ student.lastName }} {{ student.firstName }} @if(hasStudentDoneDWWM(student)){(DWWM)}
                    </div>
                    }
                </div>
            </div>
            }
        </div>
        <button (click)="lockGroups()">Confirm brief groups</button>
        }
        @else {
        <button (click)="lockGroups()">Confirm brief being individual</button>
        }

    </section>
</main>
}
}